UNSTRUCTURED_API_KEY=""
UNSTRUCTURED_URL=""


AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_API_VERSION="" 
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_EMBEDDINGS_MODEL=""


VECTOR_INDEX_NAME=""
FULLTEXT_INDEX_NAME=""
