langchain-huggingface
langchain-community
langchain-experimental
langchain
langchain-groq
langchain-openai
langchain-neo4j
sentence-transformers
neo4j
json-repair
pypdf
PyPDF2
python-multipart
fastapi
uvicorn
numpy==1.26.4
