--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn[standard]
python-dotenv
neo4j
langchain-openai
langchain-experimental==0.3.4
neo4j-graphrag
pydantic>=2.0.0
psycopg[binary]==3.1.19
transformers
sqlalchemy==2.0.32
