# PostgreSQL Database Configuration
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Firebase Configuration
FIREBASE_WEB_API_KEY=""

# Google Application Credentials (path to Firebase service account JSON)
GOOGLE_APPLICATION_CREDENTIALS=""
