.loader {

  display: block;
  margin: 7px auto;
  position: relative;
}

li {
  all: revert;
}

ol {
  all: revert;
}

ul {
  all: revert;
}

a {
  all: revert;
}

.ndl-modal-backdrop {
    position: fixed !important;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);
}